
.container {
  display: flex;
  background-color: beige;
}

body {
  margin: 0;
  padding: 0;
}

.left-side {
  flex: 1;
  padding: 10px;
}

.right-side {
  margin-left: auto;
  padding: 20px;
}

.right-side a {
  margin-right: 30px;
  color: #f30404;
  text-decoration: none;
}

.right-side a:hover {
  color: #ffffff;
  background-color: #a6a4a4;
  border-radius: 2px;
}

.welcome {
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.welcome h1 {
  font-size: 36px;
  color: #007bff;
}

.welcome p {
  font-size: 18px;
  color: #333;
}

.features {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.features h2 {
  font-size: 24px;
  color: #007bff;
}

.features ul {
  padding: 0;
}

.features li {
  margin: 15px 0px 10px 50px;
}

.featured-courses {
  margin-top: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.featured-courses h2 {
  font-size: 24px;
  color: #007bff;
}

.featured-courses ul {
 margin-top: 15px;
  padding: 0;
}

.featured-courses li {
  margin: 0px 0px 10px 50px;
}

.testimonials {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.testimonial-card {
  width: 300px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial-card h2 {
  font-size: 18px;
  color: #007bff;
}

.testimonial-card p {
  font-size: 14px;
  color: #333;
}


.call-to-action {
  margin-top: 20px;
  text-align: center;
}

.call-to-action p {
  margin-bottom: 15px;
}

.call-to-action a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.call-to-action a:hover {
  background-color: #0056b3;
}
@media only screen and (max-width: 768px) {
  .welcome h1 {
    font-size: 25px;
  }
  .welcome p {
    font-size: 15px;
  }
  .features h2 {
    font-size: 20px;
  }
  .testimonial-card {
    width: 80%;
    margin: 20px 0;
  }
}